{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

{% if "ok" in request.GET %}

<h4 style="color: white; text-align: center; margin: 5em auto;">Mensaje Enviado Correctamente. Te responderemos a la
    brevedad</h4>

{% elif "fail" in request.GET %}

<h4 style="color: white; text-align: center; margin: 5em auto;">No Pudo Enviarse su Mensaje.</h4>

{% else %}

<main class="container" style="width: 60%; margin: 70px auto;">
    <br>
    
    <h1 class="text-start">Contacto</h1>
    <div class="divider"></div>
    <br>
    <div class="row justify-content-center">

        <div class="col-5 p-4 m-3">
            <form style="margin: auto;" id="form-contacto" action="" method="post">
                {% csrf_token %}
                {{ Formulario|as_bootstrap }}
                <div class="form-actions p-4 m-2 text-center">
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
            </form>
        </div>


    </div>

</main>


{% endif %}



{% endblock %}