{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>

<main class="container-fluid" style="width: 90%; margin: 70px auto;">
    <h1>Nuestra Tienda</h1>
    <div class="divider"></div>
    <div class="col-4 text-center" id="barra2">
        <h3 style="font-weight: 300; margin-top: 1em;">Categorías</h3>
        
        
        <p><a href="{% url 'producto' %}">Todas</a></p>
        <p><a href="{% url 'categoria' categoria.id %}">{{categoria.nombre}}</a></p>
        
        
    </div>
    <div class="row" id="galeria">
        {% for producto in productos %}

        <div class="col-8 card align-items-center " style="width: 20%; margin: 5px 5px;" category="{{producto.categorias}}">
            <img src="{{producto.imagen.url}}" class="card-img-top" style="width: 250px; height: 250px; ">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                {% for cat in producto.categorias.all %}
                <h6 class="card-cathegory">{{cat.nombre}}</h6>
                {% endfor %}
                <h5>${{producto.precio}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
            </div>
            <div class="align-items-center text-center mb-3">
                <a type="button" href="{% url 'add' producto.id %}" class="btn btn-primary" data-container="body" data-toggle="popover" data-color="success" data-placement="top" data-content="Agregado al Carrito" onclick="showPopover(this);">
                    Al Carrito
                </a>              
                <a href="{% url 'pagina_vacia' %}" class="btn btn-success">
                    Comprar
                </a>          
            </div>

        </div>
        {% endfor %}

    </div>
</main>

{% endblock %}


