{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="d-flex flex-grow-1" id="pagina1">
    <div class="col-xl-6 lg-6 md-12 sm-12 align-self-end" id="texto-body">
        La disquería de tu vida. La tienda <br> 
        más grande de vinilos<br> 
        y discos de la Argentina.<br>
        Si no lo tenemos, te lo traemos.
    </div>
    <div class="col-xl-6 d-flex" id="cuadro">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav" id="redes">    
              <li class="nav-item"><a href="https://instagram.com"><img src="static\ProyectoFinalApp\img\instagram.png" alt=""></a></li>
              <li class="nav-item"><a href="https://facebook.com"><img src="static\ProyectoFinalApp\img\facebook.png" alt=""></a></li>
              <li class="nav-item"><a href="https://youtube.com"><img src="static\ProyectoFinalApp\img\youtube.png" alt=""></a></li>                                     
        </ul>
      </nav>  
    </div>
  
  </div>     
          
{% endblock %}

