{% extends "base.html" %}

{% load static %}

{% block content %}
    <br>    
    

    <main class="container" style="width: 60%; margin: 70px auto;">
            <h1>Una Disquería con Historia</h1>
            <div class="divider"></div>
        <article class="row d-inline text-start">
            <img id='img-nosotros' src="{% static 'ProyectoFinalApp/img/sobrenos.webp' %}" alt="nosotros-img">
            <h5 class="texto-nos">La disquería Vitrola nació en 1955, viene acompañando a generaciones de amantes de la música bla bla bla.</h5>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>
            <br>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>
                <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>    
            <br>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>
            <br>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>
            <br>
            <h5 class="texto-nos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum veniam est, culpa vitae at odit ex sint minima repellat tenetur enim inventore, consectetur, vero quam quos placeat! Reiciendis, dolorum tenetur!</h5>  
        </article>        
    </main>


{% endblock %}