{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1 class="titulo">Enterate de todo Acá</h1>
    <div class="container">
    <main>
        
        <article>    
            <div class="card mb-3" style="max-width: 90%; border-color: rgb(170, 135, 135);">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="media\eventos\disquerias19.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h2 class="card-title">¡Estamos en la noche de las disquerias!</h2>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis aliquid voluptatum asperiores at, sapiente magnam aliquam velit similique alias quibusdam minus, labore, nesciunt aperiam optio. Accusantium sit veritatis assumenda sed..
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, earum magnam deserunt aspernatur quas nostrum eius a adipisci, aliquid praesentium cupiditate quibusdam quam officia fugit, maiores ex reprehenderit tempore. Nam?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, quo voluptatem dolor quisquam nesciunt consectetur, modi velit delectus sapiente omnis enim! Itaque, officia. Eveniet ad aut obcaecati repudiandae voluptas vitae.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" id='boton-eventos' class="btn eventos" style="background-color: rgb(117, 2, 2, 0.95);">Mas Info</a>
                </div>
            </div>
            </div>
            </div>
        </article>
    </main>
    </div>  
{% endblock %}