{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1 class="titulo">Enterate de todo Acá</h1>
    
    <main class="container" style="max-width: 90%;">
        
    {% for post in posts %}
        
        <br>
        <article>    
            <div class="card mb-3" style="max-width: 80%; max-height: 500px; border-color: rgb(170, 135, 135);">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{post.imagen.url}}" class="img-fluid rounded-start" alt="img_evento">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="flex-wrap:wrap">
                <h2 class="card-title">{{post.titulo}}</h2>
                <br>
                <p class="card-text">{{post.contenido}}</p>
                <p class="card-text"><small class="text-muted">{{post.created}}</small></p>                
                </div>
                <br>
                <a href="#" id='boton-eventos' class="btn btn-danger eventos p-2" style="margin: 2em 1em;">Mas Información</a>
            </div>
            </div>
            
            </div>
        </article>
    {% endfor %}
    </main>
    
{% endblock %}