*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  font-family: 'Poppins';
  transition: top 1500ms cubic-bezier(.5,.33,.3,.9) 200ms;
  scroll-behavior: smooth;  
}
.body:not(.body-home){
  background: rgba(0, 0, 0);
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: flex;
  flex-direction: column;
}

.header:not(.header-body){
  background: linear-gradient(rgba(117, 2, 2, 0.95)44%,rgba(0, 0, 0)95%);
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
}

h1 {
  color: white; 
  font-weight: 300; 
  font-size: 53px;
}

ul{
  list-style: none;
}
footer > a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  text-decoration: underline!important;
}

footer{
  background: linear-gradient(-180deg,rgba(0, 0, 0)24%,rgba(117, 2, 2, 0.80)88%);
  height: 100%;
  max-height: 50%;
  color: rgb(255, 255, 255);
}
.footer-items{
  padding-top: 2em;
  max-width: 28%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
}

#menu-perfil {
  color: white;
  text-align: center;
  align-items: center;
  margin-left: 4em;
  margin-right: 1px;
  max-height: 27px;
  width: 180px;
}
#menu{
  width: fit-content;
  text-align: end;
  justify-content: start;
  padding-bottom: 4px;
  height: fit-content;
}
#menu:hover{
  background-color: rgba(148, 48, 50,0.5);
  border-radius: 8px;
  transition: 0.45s;
}
#menu ul ul {
  display:none;
  padding: 0;
 }

#menu ul ul li {
  width: 120px;
  font-size: 13px;
  text-align: end;
  
}
#menu ul ul a {
  line-height:100%;
}
#menu ul li:hover > ul {
  transition: 0.45s;
  display:block;
  width: 100%;
 }
.underline:hover{
  text-decoration: underline!important;
}
/*Home*/

.body-home {
  background-image:url("../img/background-body.png");
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: scroll;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: top 1500ms cubic-bezier(.5,.33,.3,.9) 200ms;
  scroll-behavior: smooth;  
}

#body-2{
  background-image:url("../img/tocadiscos.png");
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
  width: 100vw;  
}

#-logo{
  padding: 4em;
  padding-left: 1em;
  padding-right: 28em;
  text-align: left;
}
#logo{
  padding-top: 1em;
  width: 180px;
}
.navbar-toggler{
  align-self:center;
}
.navbar-toggler-icon{
  width: 50px;
  height: 50px;
  justify-self: center;
}
a{
  text-decoration: none!important;
  color: rgb(255, 255, 255)!important;
}
/*animacion links*/
#link-nav::after {
  content: ''!important;
  position: absolute!important;
  bottom: 0!important;
  left: 0!important;
  width: 100%!important;
  height: 0.1em!important;
  background-color: rgb(255, 255, 255)!important;
  opacity: 0!important;
  transition: opacity 300ms, transform 300ms!important;
}

#link-nav:hover::after,
#link-nav:focus::after {
  opacity: 1!important;
  transform: translate3d(0, 0.2em, 0)!important;
}

#logo{
  position: relative;
  left: 4em;
}
#div-login{
  padding-top: 1.1em;
  padding-left: 10em;
}
.nav-item {
  position: relative;
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  -moz-transform: matrix( 0.89234407024477,0,0,0.89234407024477,0,0);
  -webkit-transform: matrix( 0.89234407024477,0,0,0.89234407024477,0,0);
  -ms-transform: matrix( 0.89234407024477,0,0,0.89234407024477,0,0);
  z-index: 8;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1em;
}
#texto-body{
  color: rgba(255,255,255);
  font-size: 3em;
  padding-left: 1.6em;
  padding-bottom: 1em;
  line-height: 1.43;
  text-align: left;  
}

#cuadro {
  background-color: rgb(148, 48, 50); 
  opacity: 0.8;
  border-radius: 2px;
  align-self: end;
  max-height: 70px;
  margin-bottom: 1em;
}
#redes{
  align-items:center;
  margin-left: 23px;
  margin-bottom: 18px; 
}




/*Eventos*/
.titulo {
  color: white;
  font-weight: 400;
  padding: 30px 0;
  margin: 1em 0;
  margin-left: 2.1em;
  margin-bottom: 0;
  font-size: 50px;
  text-align: left;
}


/*Tienda*/
#gallery{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: fit-content;
  justify-content: center;
}
#galeria{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content:center;
}
#galeria::after{
  content:"";
  width:291px;
}

#gallery::after{
  content:"";
  width:291px;
}
#barra, #barra2{
  background-color:rgba(204, 23, 26, 0.3);
  float:left ; 
  color: white; 
  height: 100%; 
  display: inline;
  border-radius: 4px;
  max-width:340px ;
}


/*Carrito*/
#div-carrito{
  margin-top: 3em;
  color: rgb(0, 0, 0);
  font-weight: 300;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
#div-carrito p{
  color: black;
}
#div-carrito a{
  font-size: 20px;
  font-weight: 300;
}

#div-body{
  max-height: max-content ;
  height: 70%;
  margin: 0;
  border: none;
}
.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}
.divider-rigth {
  border-right: 1px solid #888989;
  margin: 2px 0;
}
.divider-medium {
  border-bottom: 2px solid #888989;
  margin: 2px 0;
}
#div-footer{
  max-height: 25%;
  height: 25%;
  margin: 0;
  border: none;
  
}
#links-inline:hover{
  color: rgb(148, 48, 50);
  text-decoration:underline;
}

.inline{
  display: inline;
}
.botones{
  margin-top: 4.1em;
  width: 40px;
  height: 35px;  
}

.botones p{
  color: white!important;
  margin-bottom: 5px;
}


#img-carrito {
  width: 100%;
  height: 100%;
  max-width:230px;
  max-height:230px; 
}


/*Nosotros*/
#img-nosotros{
  width: 37%;
  margin: 2em 0;
  float: left;
}

.texto-nos{
  color: rgb(255, 255, 255);
}


/*Contacto*/
#form-contacto{
  resize:none;
}

/*MiCuenta*/
#contenedor{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
}

#div-login{
  width: 17%;
  margin-top: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 5;
  position: absolute;
  
}
.h-log{
  color: rgb(240, 219, 191);
  font-weight: 500;
  font-variant: small-caps; 
}

#link-home:hover{
  text-decoration: underline;
}



p > a:hover{
  color: rgb(148, 48, 50);
  text-decoration: underline!important;
}

.underline:hover {
  text-decoration: underline!important;
}

#img-fondo{
  opacity: 0.30;
  z-index: -500;
  position: relative;
}

#log-body{
  background: radial-gradient(rgba(0, 0, 0)82%,rgba(117, 2, 2))!important;
  height: 100%;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}
.content{
  flex-grow: 1;
  width: 100%;
}
